<h1>Add a New Console</h1>

<form method="POST" action="/consoles/new">
  <label for "name">Console Name: </label>
  <input type="text" id="name" name="name">
  <label for "year_purchased">Year Purchased: </label>
  <input type="text" id="year_purchased" name="year_purchased">
  <label for "year_released">Year Released: </label>
  <input type="text" id="year_released" name="year_released">
  <input type="submit" id="submit" value="Create that Console!">
</form>
