<h2>Hi, <%= current_user.username %> </h2>

<% if current_user.consoles == []%>
<p>It looks like you don't have any consoles yet. Why don't you <a href="/consoles/new"> add one?</a></p>

  <%else%>
  <% Console.all.each do |c| %>
    <% if c.user_id == current_user.id %>
      <li> <a href="/consoles/<%=c.id%>"> <%=c.name%></a></li>
  <% end %>
  <% end %>
  <br>
  <a href="/consoles/new"> Add Another Console?</a>
  <% end %>
  <br>
<a href="/users/<%=current_user.id%>/show">Back to Your Profile </a>
