<h2>Hi, <%= current_user.username %> </h2>

<% if current_user.consoles == []%>
<p>It looks like you don't have any consoles. Why don't you add one?</p>
<a href="/consoles/new">Create a Console</a>
  <%else%>
  <% Console.all.each do |c| %>
    <% if c.user_id == current_user.id %>
      <li><%= c.name%> </li>
  <% end %>
  <% end %>
  <% end %>
