<h1>Welcome back!</h1>

<form method="POST" action="/login">
  <label for "username">Enter Your Username: </label>
  <input type="text" id="username" name="username">
  <br>
  <label for "email">Enter Your Email: </label>
  <input type="text" id="email" name="email">
  <br>
  <label for "password">Enter Your Password: </label>
  <input type="password" id="password" name="password">
  <input type="submit" id="submit" value="Log In">
</form>
