<h1>Oh Hello there, <%=current_user.username%>! Welcome to Your Profile</h1>

#here is a section that lists all of the users consoles

#here is a section that lists all of the users games

<a href="/consoles/new">Add a new console! </a>
<br>
<a href="/games/new">Add a new game! </a>
