<h1>Add a New Game</h1>

<div>
<% if flash.has?(:message) %>
<p style="color:red;"><%=flash[:message]%></p>
<%end %>
</div>

<form method="POST" action="/games/new">
  <label for "name">Game Name: </label>
  <input type="text" id="name" name="name" placeholder="Enter game's name" required>
  <br>
  <label for "rating">Rating: </label>
  <input type="text" id="rating" name="rating" placeholder="Rate from 00-10" pattern="(?![1-9][1-9]|\d{3,})\d\S+" title="Enter 2-digit rating">
  <br>
  <label for "review">Review: </label>
  <textarea id="review" name="review" rows="5" cols="50" wrap="hard" maxlength="400">Write your review here!</textarea>
  <input type="submit" id="submit" value="Save that Game!">
</form>
<a href="/games">Back to Game List </a>
<br>
<a href="/users/<%=current_user.id%>/show">Back to Your Profile </a>
