<h1>Welcome to Console Keeper!</h1>
<p>The game and console inventory manager for filthy casuals</p>
<pre>
     /\                                                 /\
    /__\===============================================/__\
   /\  /\       IT'S DANGEROUS TO GO ALONE            /\  /\
  /__\/__\===========================================/__\/__\
  </pre>
<div>
  <h4>About</h4>
  <p>
    What can you do here? Add consoles and games to your inventory. Rate the games you've played and leave reviews for them.
    </p>
  </div>

<a href="/signup">Sign Up </a> <br>
<a href="/login">Sign In </a>
